.WeatherForecast {
  text-align: center;
  margin-top: 20px;
}

.WeatherForecast-day {
  font-weight: bold;
  margin-bottom: 5px;
}

.WeatherForecast-temperatures {
  margin-top: 5px;
}

.WeatherForecast-temperature-max {
  margin-right: 5px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
}
